
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 60px;
    background-color: rgb(7, 74, 149);
}

.navbar > a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    font-weight: 600;
}


.body {
    margin: 0 1%;
}